In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('DOE.csv', encoding='unicode-escape')
df.head()

,Year,Sample Location,Lab code,Date,Temp,PH,EC(µS/cm),TS(mg/l),TDS(mg/l),SS(mg/l),DO(mg/l),Salinity(%)
0,2017,"Karnafully River CUFL side Anowara, Ctg.",403,5/1/2017,22.2,8.1,20450,10414.0,10228.0,186,5.6,14.2
1,2017,"Karnafully River TSP Side, Patenga, Ctg.",404,5/1/2017,22.2,7.9,19984,10190.0,9992.0,198,6.1,13.8
2,2017,"Karnafully River CUFL side Anowara, Ctg.",437,5/2/2017,21.1,7.3,22580,11494.0,11292.0,202,4.8,14.8
3,2017,"Karnafully River TSP Side, Patenga, Ctg.",438,5/2/2017,21.1,7.9,21356,10906.0,10678.0,228,5.4,13.6
4,2017,"Karnafully River TSP Side, Patenga, Ctg.",471,7/3/2017,25.6,7.3,26330,13476.0,13168.0,308,6.1,17.2

In [3]:
var_col = ['Temp', 'PH', 'EC(µS/cm)']
df = df[var_col]
df

     Temp    PH EC(µS/cm)
0    22.2  8.10     20450
1    22.2  7.90     19984
2    21.1  7.30     22580
3    21.1  7.90     21356
4    25.6  7.30     26330
..    ...   ...       ...
213  23.0  7.53     19110
214  23.5  7.18       538
215  23.5  7.21       459
216  22.5  7.41       358
217  22.5  7.28       523

[218 rows x 3 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218 entries, 0 to 217
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Temp       218 non-null    float64
 1   PH         218 non-null    float64
 2   EC(µS/cm)  218 non-null    object
dtypes: float64(2), object(1)
memory usage: 5.2+ KB

In [5]:
df['EC(µS/cm)'] = df['EC(µS/cm)'].replace(r'\D', '', regex=True)
df['EC(µS/cm)'] = pd.to_numeric(df['EC(µS/cm)'], errors='coerce')
df['EC(µS/cm)'] /= 100

In [6]:
for i in var_col:
    Q1 = df[i].quantile(0.25)
    Q3 = df[i].quantile(0.75)
    IQR = Q3 - Q1
    maximum = Q3 + (1.5 * IQR)
    minimum = Q1 - (1.5 * IQR)
    kondisi_lower_than = df[i] < minimum
    kondisi_more_than = df[i] > maximum
    df[i] = df[i].mask(cond=kondisi_more_than, other=maximum)
    df[i] = df[i].mask(cond=kondisi_lower_than, other=minimum)

In [7]:
df.describe()

             Temp          PH   EC(µS/cm)
count  218.000000  218.000000  218.000000
mean    25.059174    7.526680   94.725034
std      3.317046    0.394099  102.054210
min     20.000000    6.461250    1.420000
25%     22.500000    7.252500    6.495000
50%     23.750000    7.570000   40.310000
75%     28.375000    7.780000  180.880000
max     32.400000    8.571250  442.457500